:root {
    --bg01: #222222;
    --bg02: #ffffff;
    --primaryColor01: #222222;
    --primaryColor02: #ffffff;
    --accentColor: #1975cd;
    --inputBorderColors: #a5a5a5;
    --outputBorderColors: #7a7a7a;
    --placeHolderText: #c2c2c2;
}

/* ..................MAIN WRAPPER............. */

.loan-estimator-wrapper {
    display: flex;
    flex-direction: column;
}

/* <<<<<<<<<<<<<<CUSTOM PROPS STYLING>>>>>>>>>>>>>> */

.input_container_styling {
    border: 0.5px solid var(--inputBorderColors);
    display: flex;
    min-height: 40px;
    justify-content: space-between;
    gap: 10px;
    padding: 0 5px;
    border-radius: 4px;
}

/* <<<<<<<<<<<<<<GENERAL STYLING>>>>>>>>>>>>>> */

/* INPUT CONTAINER SECTION */
input,
select {
    font-size: 1rem;
}

input {
    border-style: none;
    text-align: right;
}

input:focus,
select:focus {
    outline: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input::placeholder {
    color: var(--placeHolderText);
}

select {
    border-style: none;
    min-width: 100px;
}

label {
    font-weight: bold;
    text-transform: capitalize;
}

/* <<<<<<<<<<<<<USER INPUTS CONTAINER>>>>>>>>>>>> */

/* .user-inputs-container {
} */

.user-inputs-container form {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

/* <<<<<<<<<<<<SELLING HOME CONTAINER>>>>>>>>>>> */

.selling-home-container {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.home-price-input {
    display: flex;
    align-items: center;
}

.selling-home-option {
    align-self: flex-start;
}

/* <<<<<<<<<<<<<<BUYING NEW HOME CONTAINER>>>>>>>>>>>> */

.buying-home-container {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.buying-new-home-option {
    align-self: flex-start;
}

.target-home-price-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* <<<<<<<<<<<<<FINANCES CONTAINER SECTION>>>>>>>>>>>> */

.financing-amounts-section {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.need-financing-option {
    margin: 0 0 12px 0;
}

.financing-amounts-section label {
    align-self: center;
}

.down-payment-inputs {
    display: flex;
    gap: 10px;
}
.down-payment-inputs input:first-child {
    max-width: 150px;
}
.down-payment-inputs input:last-child {
    max-width: 150px;
}

.submit-button {
    padding: 14px;
    border: 1px solid black;
    background: none;
    border-radius: 4px;
}

/* <><><><><><><><><><><><><><><><><><><><> */
/* <><><><><><><><><><><><><><><><><><><><> */
/* <><><><><><><><><><><><><><><><><><><><> */

/* COST BREAKDOWN CONTAINER */

/* main container */
.cost-breakdown-section {
    background: var(--bg01);
    padding: 12px;
}
.cost-breakdown-section h2 {
    color: var(--primaryColor02);
    font-size: 2rem;
    margin: 0 0 40px 0;
}

/* ............................... */

/* Section 01 */

.home-sale-wrapper {
    margin: 0 0 60px 0;
}

.home-sale-output-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0 0 20px 0;
}

.cost-breakdown-section h3 {
    color: var(--accentColor);
    font-size: 0.2rem;
    text-transform: uppercase;
    margin: 0 0 4px 0;
}

.cost-breakdown-section h5 {
    font-size: 1.1rem;
    color: var(--primaryColor02);
}

.home-purchase-container,
.home-sale-output-container span {
    font-size: 1.1rem;
    color: var(--primaryColor02);
}

.final-cost-content,
.closing-cost-content,
.monthly-payments-content,
.sale-net-proceeds-content,
.home-sale-output-content,
.total-sale-cost-content {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid var(--outputBorderColors);
    border-bottom: 1px solid var(--outputBorderColors);
    padding: 10px 0;
}

.home-sale-output-content {
    margin: 4px;
}

/* Section 02 */

.home-purchase-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.monthly-payments-container {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.total-mortgage-cost-content span {
    font-size: 0.7rem;
}

@media (min-width: 600px) {
    .loan-estimator-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 20px 0;
    }
    .user-inputs-container,
    .cost-breakdown-section {
        padding: 40px;
    }
}

/* <<<<<<<<<<<<<< ADDITIONAL STYLING >>>>>>>>>>> */

/* INPUT CONTAINER SECTION: */

.submit-button:hover {
    background: black;
    color: white;
    transition: ease-in-out 0.4s;
}
